<footer class="bg-gray-500 text-white">
  <div class="max-w-7xl mx-auto text-center py-8">
    <div>
      Copyright 2018-2023
      <a href="https://cnll.fr/">CNLL</a> (données),
      <a href="https://abilian.com/">Abilian</a> (code)
    </div>
  </div>
</footer>
